html, body {
    background-color: #0B0C0E;
    margin: 0;
    padding: 0;
    height: 100%;

}

/* HEADER ITEMS */
header {
    background-color: #ffbf00;
    margin: 0;
    text-align: right;

}

#headTitle {
    font-family: 'Montserrat', sans-serif;font-size: 124px;
    font-weight: 800;

    text-align: center;
    padding: 100px;
    margin: 50px;
    margin-top: 0px;
    
    color: rgb(255, 255, 255);
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#logo {
    font-family: 'Montserrat', sans-serif;font-size: 18px;
    font-weight: 900;

    text-align: left;
    position: absolute;

    padding: 15px 32px;
    margin: 5px 2px;
    
    color: rgb(0, 0, 0);
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;

    background-color: #ffbf00;
    font-family: 'Montserrat', sans-serif;font-size: 18px;
    font-weight: 700;
    margin: 5px 2px;
    cursor: pointer;
  }


/* ABOUT ME ITEMS */

p {
    font-family: 'Open Sans';font-size: 22px;
    font-size: 20px;
    color: white;
}